/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    vertical-align: top;
}

/* 상단배너 */
.banner {
    width: 100%;
    margin: 0 auto;
}
.banner img {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

/* 헤더 */
.header {
    width: 100%;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 2px 0 #dcdcdc;
}
.header .inner {
    width: 1000px;
    margin: 0 auto;
}
.header .inner h1 {
    float: left;
    margin-top: 18px;
}
.header .inner .gnb {
    float: right;
}
.header .inner .gnb li {
    float: left;
    width: 120px;
    line-height: 70px;
    text-align: center;
}
.header .inner .gnb li:hover {
    background-color: #eee;
}

/* 본문 */
main {
    background-color: #eee;
    padding: 50px 0;
}
section {
    width: 1000px;
    height: 2000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
}

/* 제이쿼리를 위한 스타일 */
.header.sticky {
    position: fixed;
    top: 0;
}

/* 헤더복제 스타일(다크모드) */
.header_clone {
    width: 100%;
    height: 70px;
    box-shadow: 0 2px 0 #dcdcdc;
    background-color: #000;
    position: fixed;
    top: -72px;
    transition: all 0.5s;
}
.header_clone .inner {
    width: 1000px;
    margin: 0 auto;
}
.header_clone .inner h1 {
    float: left;
    margin-top: 18px;
}
.header_clone .inner .gnb {
    float: right;
}
.header_clone .inner .gnb li {
    float: left;
    width: 120px;
    line-height: 70px;
    text-align: center;
    color: #fff;
}
.header_clone.sticky {
    top: 0;
}